.navbar>ul>li:not(:first-child) {
    display: none;
}

#logo-navbar {
    display: none;
}

[for=hamburguesa] {
    display: initial; 
    position: absolute; 
    right: 0;
    line-height: 80px;
    cursor: pointer;
    color: white;
}

.navbar,
.navbar>ul>li {
    flex: 100%;
    
}

header>nav {
    flex-flow: column;
}

#hamburguesa:checked~nav>ul>li {
    display: initial; 
}

.link-activo {
    font-weight: bold;
    border: none;
}

#formulario {
    width: 75vw;
    height: 440px;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: 5rem auto;
    padding: 20px 30px;
    box-sizing: border-box;
    position: relative 
}