ul li {
    display: inline; 
    margin: 1rem;
    padding: 1rem;
    z-index: 1000;
}

.navbar {
    height: 15vh;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    background-color: #002732;
    background-clip: border-box;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 100%;
    flex: 1;
}

label {
    z-index: 1000;
    color: black;
}

#hamburguesa,
[for="hamburguesa"] {
    display: none; 
}


#logo-navbar {
    height: 5rem;
}


/* CAMBIO DE COLOR NAVBAR */
a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #ffffff;
}

li:hover {
    border: 1px solid rgba(216, 216, 216, 0.200);
    border-radius: 10%;
    transition: .5s;
}

.navbar-menu {
    height: 100%;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}